<html lang="en">
  <head>
    {% block icon %} {% endblock icon %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

      body {
        font-family: "Lora";
        padding: 5%;
        transition-duration: 1s;
      }
    </style>
  </head>
  <body class="bg bg-light">
    {% block body %} {% endblock body %}
  </body>
</html>
