{% extends 'vote/base.html' %}
{% block icon %}

<link
  rel="icon"
  href="http://3.bp.blogspot.com/--VamP4SkSEA/VKGNAJUSMhI/AAAAAAAAB0Y/Cm_RpAm5kdE/s1600/2%2B(1).png"
  type="image/icon type"
/>
{% endblock icon %}
 {% block title %} THANKS {% endblock title %} 
{% block body %}
<h1 class="">Thanks</h1>
<br /><br />
<a href="{% url 'voting:logic' %}">
  <img
    src="http://3.bp.blogspot.com/--VamP4SkSEA/VKGNAJUSMhI/AAAAAAAAB0Y/Cm_RpAm5kdE/s1600/2%2B(1).png"
    alt=""
    class="rounded"
  />
</a>
<br /><br /><br /><br />
<a class="btn btn-primary" href="{% url 'voting:login' %}">RESULTS</a>
{% endblock body %}
